In [16]:
import sys
import pandas as pd
import numpy as np

In [17]:
from econml.grf import CausalForest

In [18]:
#del sys.modules["ci_helpers"]
from ci_helpers import msd_one, msd_two, msd_three, inh_str

In [19]:
#del sys.modules["causal_forest"]
from causal_forest import ci_crf

In [20]:
#del sys.modules["decompositions"]
import decompositions

In [26]:
data_gov = pd.read_csv('E:/PhD/01_causalfairness/00_codes/gov_census.csv',index_col=0)

- ci_helper

In [27]:
y = np.arange(0,10)

In [28]:
boots = {1:{'all':np.arange(0,10),'id0':[0,1,2],'id1':[3,4,5,6,7,8,9]},
         2:{'all':np.array([0,1,1,2,3,5,6,7,4,9]),'id0':[0,1,1,2],'id1':[3,5,6,7,4,9]}}

In [29]:
msd_one(y,"id0","te",boots)

   boot  value measure
0     0    1.0      te
1     1    1.0      te

In [30]:
msd_two(y,"id0",-y,"id1","te",boots)

   boot     value measure
0     0 -5.000000      te
1     1 -4.666667      te

In [31]:
np.mean([0,1,2])-np.mean([3,4,5,6,7,8,9])

-5.0

In [32]:
np.mean([0,1,1,2])-np.mean([3,5,6,7,4,9])

-4.666666666666667

In [33]:
msd_three(y,"id0",-y,"id1",y,"id1","te",boots)

   boot  value measure
0     0    1.0      te
1     1    1.0      te

In [34]:
df_cihelpher = msd_three(y,"id0",-y,"id1",y,"id1","te",boots)

In [35]:
df_cihelpher

   boot  value measure
0     0    1.0      te
1     1    1.0      te

In [36]:
inh_str(df_cihelpher,"ctfde",set0=True)

   boot  value measure
0     0      0   ctfde
1     1      0   ctfde

In [37]:
inh_str(df_cihelpher,"ctfde",set0=True,setna=True)

   boot  value measure
0     0    NaN   ctfde
1     1    NaN   ctfde

- causal forest

In [38]:
test = 1 if False else 2

In [39]:
test

2

In [40]:
np.random.randint(0,df_cihelpher.shape[0],df_cihelpher.shape[0])

array([1, 1])

In [41]:
df_cihelpher.shape[0]

2

In [42]:
np.arange(0,df_cihelpher.shape[0])

array([0, 1])

In [43]:
data_gov_head = data_gov.head(10)

In [44]:
data = data_gov_head
nrow_df = data.shape[0]
print(data.shape[0])
rep = 1
nboot = 5
x0="female"
X = "sex"

boot_samp = np.random.randint(0,nrow_df,nrow_df) if rep>1 else np.arange(0,nrow_df)  
boot_data = data.iloc[boot_samp,:].reset_index(drop=True)

nrow_boot_df = boot_data.shape[0]
boots = dict.fromkeys(np.arange(nboot))
for key in boots:
    boots[key] = dict.fromkeys(["all","id0","id1"])
    ind = np.random.randint(0,nrow_boot_df,nrow_boot_df)

    idx0 = boot_data[X][ind] == x0
    ind0 = ind[idx0]
    ind1 = ind[~idx0]

    boots[key]["all"] = ind
    boots[key]["id0"] = ind0
    boots[key]["id1"] = ind1

10

In [45]:
boot_data[X][ind]

9    female
2      male
2      male
9    female
6      male
2      male
2      male
3    female
2      male
2      male
Name: sex, dtype: object

In [46]:
boots

{0: {'all': array([3, 6, 2, 3, 0, 3, 5, 7, 8, 7]),
  'id0': array([3, 3, 3, 5]),
  'id1': array([6, 2, 0, 7, 8, 7])},
 1: {'all': array([1, 6, 5, 9, 7, 6, 5, 5, 9, 3]),
  'id0': array([1, 5, 9, 5, 5, 9, 3]),
  'id1': array([6, 7, 6])},
 2: {'all': array([7, 9, 1, 7, 5, 5, 0, 9, 7, 3]),
  'id0': array([9, 1, 5, 5, 9, 3]),
  'id1': array([7, 7, 0, 7])},
 3: {'all': array([5, 5, 3, 8, 0, 0, 0, 8, 0, 0]),
  'id0': array([5, 5, 3]),
  'id1': array([8, 0, 0, 0, 8, 0, 0])},
 4: {'all': array([9, 2, 2, 9, 6, 2, 2, 3, 2, 2]),
  'id0': array([9, 9, 3]),
  'id1': array([2, 2, 6, 2, 2, 2, 2])}}

In [47]:
Y = "salary"

In [48]:
y = boot_data[Y].astype(float)

In [49]:
tv = msd_two(y, "id1", -y, "id0", "tv", boots)

In [50]:
tv

   boot         value measure
0     0   6083.333333      tv
1     1  31190.476190      tv
2     2  30166.666667      tv
3     3    190.476190      tv
4     4  68142.857143      tv